---
import BasicLayout from "../../Layouts/BasicLayout.astro";
import Nav from "../../Components/Nav.astro";
import Updates from "../../ReactComponent/components/Updates";
---


<BasicLayout title="Progress">
{/* 
  ------------------ 
  Nav bar
  ------------------ 
*/}
  <Nav path="/progress"/>
  <main class="hero bg-slate-100 p-2 dark:bg-[#15151a]">
    <Updates client:load/>
  </main>
</BasicLayout>