---
import {
    NoteIcon,
    WarningIcon,
    ErrorIcon,
    TipIcon
} from "../ReactComponent/icons/Indicator_Icons";

const { type } = Astro.props as { type: "note" | "warning" | "tip" | "error" };

const styles: Record<string, string> = {
    note: "bg-blue-100 dark:bg-[#0F0F0F] dark:text-blue-100 text-blue-800 border-l-4 border-blue-500",
    warning:
        "bg-yellow-100 dark:bg-[#0F0F0F] dark:text-yellow-100 text-yellow-800 border-l-4 border-yellow-500",
    tip: "bg-emerald-100 dark:bg-[#0F0F0F] dark:text-emerald-100 text-emerald-800 border-l-4 border-emerald-500",
    error: "bg-red-100 dark:bg-[#0F0F0F] dark:text-red-100 text-red-800 border-l-4 border-red-500",
};
---

<div
    class={`p-4 my-3 rounded-md shadow-md flex flex-col gap-2 ${styles[type]}`}
>
    <span class="mr-2">
        {
            type === "note" ? (
                <span class="flex gap-2 items-center font-bold">
                    <NoteIcon /> Note
                </span>
            ) : type === "warning" ? (
                <span class="flex gap-2 items-center font-bold">
                    <WarningIcon /> Warning
                </span>
            ) : type === "tip" ? (
                <span class="flex gap-2 items-center font-bold">
                    <TipIcon /> Tip
                </span>
            ) : (
                <span class="flex gap-2 items-center font-bold">
                    <ErrorIcon /> Error
                </span>
            )
        }
    </span>
    <slot />
</div>
