---
import { LinkIcon } from "../React/icons/Other_Icons";
---

<div class="rounded-lg border border-gray-200 dark:border-gray-700 shadow-lg dark:bg-[#0F0F0F] bg-white overflow-hidden">
  <!-- Top Bar -->
  <div class="flex justify-between items-center px-5 py-3 bg-indigo-600 hover:bg-indigo-700 transition-colors duration-300">
    <span class="text-white font-semibold text-sm">References</span>
    <div class="text-white opacity-70 hover:opacity-100 transition-opacity duration-300">
      <LinkIcon />
    </div>
  </div>

  <!-- References List -->
  <div class="divide-y divide-gray-200 dark:divide-gray-800">
      <slot/>
  </div>
</div>

